.product img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #858282);
}

/* ----- Product Section ----- */
.product {
    margin: auto;
    margin-top: 38px;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 2.5em;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575.98px) {
    .product {
        display: flex;
        flex-wrap: wrap;
    }
}

/* ----- Photo ----- */

.photoMain {
    border-radius: 6px 6px 0 0;
    height: 100%;

    .controls {
        padding: 0.8em;

        i {
            cursor: pointer;
        }
    }

    .product img {
        position: absolute;
        left: -3.5em;
        top: 2em;
        max-width: 100%;
        box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
        filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    }
}

/* ----- Informations Section ----- */
.productInfo {
    padding: 0.8em 0;
}

.title {
    span {
        font-size: 0.7em;
    }
}

.price {
    margin: 1.5em 0;
    color: red;
    font-size: 1.2em;

    span {
        padding-left: 0.15em;
        font-size: 2.9em;
    }
}

.description {
    clear: left;
    margin: 2em 0;

    h3 {
        margin-bottom: 1em;
    }
}

.buyBtn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #ffc107;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}

/* reviews section */
.revCard {

    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}


.dots {

    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.revBadge {

    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.revUserImg {

    margin-top: 4px;
}

.checkIcon {

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus {
    box-shadow: none;
}


.icons i {

    margin-left: 8px;
}

.reply {

    margin-left: 12px;
}

.reply small {

    color: #b7b4b4;

}


.reply small:hover {

    color: green;
    cursor: pointer;

}

.btn {}